<h1> Welcome to the <span style="color:blue"> blerg </span> yung gun <span style="color:red"> ~~pow~~ </span> </h1>

<hr>

<hr>

<p> WHO AM I?? </p>

  <img src= "https://scontent-sea1-1.xx.fbcdn.net/hphotos-xla1/v/t1.0-9/12715807_10153514904112807_600329879095729281_n.jpg?oh=714acf3a8b9ffeff30b706d2cdd317b9&oe=5771CC0D"
    style="width:304px;height:304px;float:right;">

<hr>

  <p> My name is Kip </p>

  <p> My Interests are as follow: </p>

  <ol>
    <li> hiking </li>
    <li> biking </li>
    <li> skiing </li>
    <li> running </li>
    <li> yoga </li>
    <li> musique and playing instruments </li>
  </ol>
