<h1> DEEZ R da POSTS : </h1>

<img src="https://s-media-cache-ak0.pinimg.com/736x/60/0d/12/600d12d40588f1ff8b459a092350433e.jpg"
style="width:304px;height:300px;float: right;">

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post) %>
  </div>
<% end %>

<%= paginate @posts %>
